/* #colorfulbody{
    --s: 30px; /* control the size */
    /* --c1: hwb(0 100% 0%);
    --c2: #8ac3c3;
    
    --_s:37.5% 12.5% at 62.5%;
    --_g:34% 99%,#0000 101%;
    --g1:radial-gradient(var(--_s) 100%,#0000 32%,var(--c1) var(--_g));
    --g2:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c1) var(--_g));
    --g3:radial-gradient(var(--_s) 100%,#0000 32%,var(--c2) var(--_g));
    --g4:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c2) var(--_g));
    background:
      var(--g1),
      var(--g2) 0                calc(3*var(--s)),
      var(--g3) var(--s)         calc(3*var(--s)),
      var(--g4) var(--s)         calc(6*var(--s)),
      var(--g1) calc(2*var(--s)) calc(6*var(--s)),
      var(--g2) calc(2*var(--s)) calc(9*var(--s)),
      var(--g3) calc(3*var(--s)) calc(9*var(--s)),
      var(--g4) calc(3*var(--s)) 0,
      repeating-linear-gradient(var(--c1) 0 25%,var(--c2) 0 50%);
    background-size: calc(4*var(--s)) calc(12*var(--s));
  
  
  
} */ 
.top{
  display: flex;

}
input[type="text"], textarea{
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  border-radius: 5px;
  border-style:solid;
  border-width: 3px;
  width: 80%;
  height: 100px;
}
button{
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
  height: 100px;
}
.broken-safe{
  width: 25%;
  opacity: 0.7;
  position: absolute;
}
.description, h1, h3{
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}
li, h2{
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: white;
}
h1{
  color: white;
  font-size: 64px;
  font-weight: 700;
  margin: 15px;
  text-decoration: underline;
}
h3{
  font-size: 48px;
  color: white;
}
.clue{
  visibility: hidden;
}
.startbutton{
  font-size: 48px;
}
.note{
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}
#solveiframe{
  height: 24vh;
}
.maze{
  width: 40vh;
  margin-bottom: 15px;
  margin-left: 15%;
}
.dividedinput{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.small-input{
  width: 20vw !important;
  margin-left: 10px;
  margin-right: 10px;
}
.happyface{
  height: 15vh;
  margin-bottom: 15px;
  margin-left: 2.5vw;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}
.videoiframe{
  height: 70vh !important;
  width: 60vw;
}
#safedisplay{
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5י;
  color: #ffffff;
}
#nextbutton{
  visibility: hidden;
  opacity: 0;
}
#visible{
  visibility: visible;
  opacity: 1;
}
body#greenbk{
  background-color: rgb(0, 170, 255) !important;
}
#check{
  width: 70%;
}
#big-input{
  height: 10vh;
}
#questionmarks{
  width: 22vw;
}
.bk1{
  background-image: url("../assets/oldroom.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.bk2{
  background-image: url("../assets/oldroom2.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.bk3{
  background-image: url("../assets/oldroom3.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.bk4{
  background-image: url("../assets/oldroom4.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.bk5{
  background-image: url("../assets/oldroom5.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.bk6{
  background-image: url("../assets/oldroom6.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.bk7{
  background-image: url("../assets/oldroom7.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.bk8{
  background-image: url("../assets/oldroom8.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.bk9{
  background-image: url("../assets/oldroom9.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}
